---
import PostCard from "@/components/blog/PostCard.astro";
import {
    getCategoryData,
    getPostsWithNewestFirst,
    groupPostsByCategory,
} from "@/global.js";
import BlogBaseLayout from "@/layouts/BlogBaseLayout.astro";

const publicPosts = getPostsWithNewestFirst();
const groupedPosts = groupPostsByCategory(publicPosts, 3);
---

<BlogBaseLayout title="Blog | Anh Tuan Le (@Leleat)">
    <h1>Hello There</h1>
    <p>
        I'm Lele or, in real life, Anh (he/him), a budding software developer.
        This blog is a place to share my ideas, experiments, and whatever tech
        stuff I'm into at the moment. <a href="/blog/archive">View all posts</a>
        or browse by category.
    </p>
    {
        groupedPosts.map(({ category, posts, totalCount }) => {
            const categoryData = getCategoryData(category);
            return (
                <section class="category-section">
                    <h2 class="category-heading" id={categoryData.slug}>
                        <a
                            href={`#${categoryData.slug}`}
                        >{`${categoryData.raw} (${totalCount})`}</a>
                    </h2>
                    {categoryData.description && (
                        <p class="category-description">
                            {categoryData.description}
                        </p>
                    )}
                    <div class="posts-list">
                        {posts.map((post) => (
                            <PostCard {post} />
                        ))}
                    </div>
                    <a
                        href={`/blog/categories/${categoryData.slug}/`}
                        class="view-all-link"
                    >
                        View all
                    </a>
                </section>
            );
        })
    }
</BlogBaseLayout>

<style>
    @view-transition {
        navigation: auto;
    }

    p {
        color: var(--color-text);
        margin-block: 0.5rem;
    }

    .category-section {
        padding-block-start: 3rem;
        padding-block-end: 3rem;
        border-block: 1px solid var(--color-background-button);

        &:first-of-type {
            margin-block-start: 2.5rem;
        }

        &:last-of-type {
            border-block-end: none;
            padding-block-end: 0;
        }

        .category-heading {
            font-size: 1.25rem;
            margin-block-start: 0;
            margin-block-end: 1rem;
        }

        .view-all-link {
            margin-block-start: 3rem;
            font-size: smaller;
            display: block;
            text-align: left;
        }
    }

    @media (min-width: 40rem) {
        .category-section {
            border-bottom: none;
            border-top: none;
            padding-block: 0;
            margin-block-end: 1.2rem;

            &:first-of-type {
                margin-block-start: 0;
            }

            &:first-of-type .category-heading {
                margin-block-start: 2.5rem;
            }

            &:last-of-type {
                margin-block-end: 0;
            }

            .view-all-link {
                text-align: center;
                margin-block-start: 2.5rem;
            }
        }
    }
</style>
