---
import PostCard from "@/components/blog/PostCard.astro";
import {
    getCategoryData,
    getPostsWithNewestFirst,
    groupPostsByCategory,
} from "@/global.js";
import BlogBaseLayout from "@/layouts/BlogBaseLayout.astro";

const publicPosts = getPostsWithNewestFirst();
const groupedPosts = groupPostsByCategory(publicPosts, 3);
---

<BlogBaseLayout title="Blog | Anh Tuan Le (@Leleat)">
    <h1>Hello There</h1>
    <p>
        I'm Lele or, in real life, Anh (he/him), a budding software developer.
        This blog is a place to share my ideas, experiments, and whatever tech
        stuff I'm into at the moment. <a href="/blog/archive">View all posts</a>
        or browse by category.
    </p>
    {
        groupedPosts.map(({ category, posts, totalCount }) => {
            const categoryData = getCategoryData(category);
            return (
                <section class="category-section">
                    <h2 class="category-heading">
                        {categoryData.raw} ({totalCount})
                    </h2>
                    {categoryData.description && (
                        <p class="category-description">
                            {categoryData.description}
                        </p>
                    )}
                    <div class="posts-list">
                        {posts.map((post) => (
                            <PostCard {post} />
                        ))}
                    </div>
                    <a
                        href={`/blog/categories/${categoryData.slug}/`}
                        class="view-all-link"
                    >
                        View all
                    </a>
                </section>
            );
        })
    }
</BlogBaseLayout>

<style>
    @view-transition {
        navigation: auto;
    }

    p {
        color: var(--color-text-dim);
        margin-block: 0.5rem;
    }

    .category-section {
        margin-block-end: 1rem;

        .category-heading {
            font-size: 1.25rem;

            &:first-of-type {
                margin-block-start: 1.5rem;
            }
        }

        .category-description {
            color: var(--color-text-dim);
        }

        .view-all-link {
            margin-block-start: 2.5rem;
            font-size: smaller;
            display: block;
            text-align: center;
        }
    }
</style>
