---
interface Props {
    pubDate: string;
    editDate?: string;
    author: string;
    readTime: string;
    class: string;
}

const {
    pubDate,
    editDate,
    author,
    readTime,
    class: className,
    ...rest
} = Astro.props;
---

<div class=`${className} box` {...rest}>
    <div class="dates">
        <p>
            <span>Published</span>
            <time class="dd" datetime={pubDate}>
                {new Date(pubDate).toLocaleDateString()}
            </time>
        </p>
        {
            editDate && (
                <p>
                    <span>Edited</span>
                    <time class="dd" datetime={editDate}>
                        {new Date(editDate).toLocaleDateString()}
                    </time>
                </p>
            )
        }
    </div>
    <p>
        <span>By</span>
        <span class="dd">{author}</span>
    </p>
    <p>
        <span>Read</span>
        <span class="dd">{readTime}</span>
    </p>
</div>

<style>
    .box {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    p {
        display: flex;
        gap: 0.5rem;
        font-size: 0.9rem;
        color: var(--color-text-dim);
        margin: 0;
    }

    .dd {
        font-weight: 600;
        font-size: inherit;
        color: var(--color-text);
    }

    .dates {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        column-gap: 3rem;
    }
</style>
