---
import { blogroll } from "../../data/blogroll.js";
import {
    getCategoryData,
    getPostsWithNewestFirst,
    getTagData,
} from "../../global.js";

const showRecentPostsAmount = 4;
const publicPosts = getPostsWithNewestFirst();
const tagsWithCounts = [
    ...new Set(publicPosts.flatMap((p: any) => p.frontmatter.tags)),
]
    .toSorted()
    .map((tag) => ({
        name: tag,
        count: publicPosts.filter((p: any) => p.frontmatter.tags.includes(tag))
            .length,
    }));
const categoriesWithCounts = [
    ...new Set(
        publicPosts.map((p: any) => p.frontmatter.category || "Uncategorized"),
    ),
]
    .toSorted()
    .map((category) => ({
        name: category,
        count: publicPosts.filter(
            (p: any) =>
                (p.frontmatter.category || "Uncategorized") === category,
        ).length,
    }));
const recentBlogrollItems = blogroll.slice(0, 4);
---

<aside>
    <section class="rss-feed">
        <a href="/rss.xml" target="_blank" rel="noreferrer">
            <!-- https://icons.getbootstrap.com/icons/rss-fill/ -->
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
                aria-hidden="true"
            >
                <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2m0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2m.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
                ></path>
            </svg>
            <span>RSS Feed</span>
        </a>
    </section>
    <section class="recent-posts">
        <h3>Recent Posts</h3>
        <div role="list">
            {
                publicPosts.slice(0, showRecentPostsAmount).map((post: any) => (
                    <a
                        href={post.url}
                        role="listitem"
                        title={post.frontmatter.title}
                    >
                        {post.frontmatter.title}
                    </a>
                ))
            }
        </div>
        <a href="/blog/archive/" class="view-all-link"> View all posts</a>
    </section>
    <section class="categories">
        <h3>Categories</h3>
        <div role="list">
            {
                categoriesWithCounts.map(({ name, count }) => (
                    <a
                        href={`/blog/categories/${getCategoryData(name).slug}/`}
                        role="listitem"
                    >
                        {name} ({count})
                    </a>
                ))
            }
        </div>
    </section>
    <section class="tags">
        <h3>Tags</h3>
        <div role="list" class="tag-list">
            {
                tagsWithCounts.map(({ name, count }) => (
                    <a
                        href={`/blog/tags/${getTagData(name).slug}/`}
                        role="listitem"
                    >
                        {name} <span class="tag-count">({count})</span>
                    </a>
                ))
            }
        </div>
    </section>
    {
        recentBlogrollItems.length > 0 && (
            <section class="blogroll">
                <h3>Across the Blog-Verse</h3>
                <div role="list">
                    {recentBlogrollItems.map((entry) => (
                        <a
                            href={entry.url}
                            role="listitem"
                            target="_blank"
                            rel="noreferrer"
                            title={entry.title}
                        >
                            {entry.title}
                        </a>
                    ))}
                </div>
                <a href="/blog/blogroll/" class="view-all-link">
                    View all
                </a>
            </section>
        )
    }
</aside>

<style>
    aside {
        display: none;
    }

    @media (min-width: 80rem) {
        * {
            --sidebar-itemspacing: 0.75rem;

            margin: 0;
            font-size: small;
        }

        aside {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            border-inline-end: 1px solid var(--color-border);
            padding: 0 var(--content-hpadding);
            margin: var(--content-vpadding) 0;
            block-size: fit-content;
        }

        [role="list"] a {
            margin-block-end: var(--sidebar-itemspacing);
            color: var(--color-text);
            text-decoration: none;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: var(--color-yellow);
                text-decoration: dotted underline;
            }
        }

        h3 {
            color: oklch(from var(--color-text) calc(l - 0.25) c h);
            text-transform: uppercase;
            margin-block-end: calc(var(--sidebar-itemspacing));
        }

        .rss-feed {
            & a {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: var(--sidebar-itemspacing);
                color: var(--color-text);
                text-decoration: none;
                inline-size: fit-content;

                &:hover {
                    color: var(--color-yellow);
                    text-decoration: dotted underline;
                }
            }
        }

        .view-all-link {
            margin-block-start: var(--sidebar-itemspacing);
            color: var(--color-text-dim);
            text-decoration: none;
            font-size: smaller;

            &::after {
                content: " >" / "";
            }

            &:hover {
                color: var(--color-yellow);
                text-decoration: dotted underline;
            }
        }

        .tag-list {
            display: flex;
            flex-wrap: wrap;
            gap: 0rem 1rem;

            .tag-count {
                color: var(--color-text-dim);
                font-size: smaller;
            }
        }
    }
</style>
